.sidebar{
    width: 30%;
    border-right: 1px solid gray;
    height: 100vh;
  }
  .category_btn{
    font-size: 25px;
    pad: 12px 24px;
    width: 100px;
    color: gray;
    cursor: pointer;
  }